<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//com.mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--这只mybatis输出日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

<!--&lt;!&ndash;    定义自定义类型的别名-->
<!--    type:想要自定义别名的类的全限定名称-->
<!--    alias：自定义的别名-->
<!--&ndash;&gt;-->
<!--    <typeAliases>-->
<!--        <typeAlias type="com.demo.entity.ViewStudent" alias="stu"></typeAlias>-->
<!--    </typeAliases>-->

<!--    定义别名的第二种方式：
        <package>: name是包名，表示这个包中的所有类，类名就是别名（不区分大小写）
-->
    <typeAliases>
        <package name="com.demo.vo"/>
<!--        <package name="com.demo.entity"/>-->
    </typeAliases>
    <environments default="mydev">
        <environment id="mydev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/test2?useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="localhost"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/demo/dao/StudentDao.xml"/>
    </mappers>
</configuration>