<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" verbose="1" parallel="false" thread-count="1">
    <listeners>
        <listener class-name="com.frame.demo.report.ExtentTestingReporterListener"/>
    </listeners>
    <test name="test">
        <classes>
            <class name="com.frame.demo.test.TestFrame"/>
        </classes>
    </test>
</suite>