<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean class="com.bjpowernode.ba02.School" id="mySchool">
        <property name="name" value="清华"/>
        <property name="addr" value="北京"/>
    </bean>
    <!--
   引用数据类型注入
   使用<constructor-arg>标签

   -->
    <bean class="com.bjpowernode.ba02.Student" id="student">
        <constructor-arg name="id" value="1001"/>
        <constructor-arg name="name" value="张三"/>
        <constructor-arg name="school" ref="mySchool"/>
    </bean>
</beans>